<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>	    	<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->


<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
            <title>Soccer BootStrap HTML5 CSS3 Theme</title>
        {% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block stylesheet %}
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="asset/css/normalize.css">
        <link rel="stylesheet" href="asset/css/font-awesome.min.css">
        <link rel="stylesheet" href="asset/css/transitions.css">
        <link rel="stylesheet" href="asset/css/prettyPhoto.css">
        <link rel="stylesheet" href="asset/css/swiper.min.css">
        <link rel="stylesheet" href="asset/css/jquery-ui.css">
        <link rel="stylesheet" href="asset/css/animate.css">
        <link rel="stylesheet" href="asset/css/owl.theme.css">
        <link rel="stylesheet" href="asset/css/owl.carousel.css">
        <link rel="stylesheet" href="asset/css/customScrollbar.css">
        <link rel="stylesheet" href="asset/css/icomoon.css">
        <link rel="stylesheet" href="asset/css/main.css">
        <link rel="stylesheet" href="asset/css/color.css">
        <link rel="stylesheet" href="asset/css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>



        <!-- All PLUGINS CSS ============================================= -->
        <link rel="stylesheet" type="text/css" href="AdminPanel/asset/css/assets.css">

        <!-- TYPOGRAPHY ============================================= -->
        <link rel="stylesheet" type="text/css" href="AdminPanel/asset/css/typography.css">

        <!-- SHORTCODES ============================================= -->
        <link rel="stylesheet" type="text/css" href="AdminPanel/asset/css/shortcodes/shortcodes.css">

        <!-- STYLESHEETS ============================================= -->
        <link rel="stylesheet" type="text/css" href="AdminPanel/asset/css/style.css">
        <link class="skin" rel="stylesheet" type="text/css" href="AdminPanel/asset/css/color/color-1.css">
    {% endblock %}
</head>

{% block body %}
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
        Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Mobile Menu Start
    *************************************-->
    <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
        <span id="tg-close" class="tg-close fa fa-close"></span>
        <div class="tg-colhalf">
            <ul>
                <li class="active menu-item-has-children">
                    <a href="#">HOME</a>
                </li>

                <li>
                    <a href="buyticket.html">EVENTS </a>
                </li>

            </ul>
        </div>
        <div class="tg-colhalf">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#">MATCH</a>

                </li>

                <li>
                    <a href="#contact">CONTACT</a>
                </li>
                <li>
                    <a href="contactus.html">SHOP</a>
                </li>

            </ul>
        </div>
    </div>
    <!--************************************
            Mobile Menu End
    *************************************-->
    <!--************************************
            Header Start
    *************************************-->
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="tg-topbar tg-haslayout">
                        <nav id="tg-topaddnav" class="tg-topaddnav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                            <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
                                <div class="tg-colhalf pull-right">
                                    <nav class="tg-addnav">
                                        <ul>
                                            <li>
                                                <a href="{{ path('app_login') }}" data-target="#tg-login">login</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_register')}}" data-target="#tg-register">Register</a>
                                            </li>
                                            <li>
                                                <div class="tg-cart">
                                                    <a href="javascript:void(0)" class="dropdown-toggle" id="tg-cartdropdown" data-toggle="dropdown">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <div class="tg-cartcontent dropdown-menu" aria-labelledby="tg-cartdropdown">
                                                        <ul>
                                                            <li>
                                                                <figure>
                                                                    <a href="#">
                                                                        <img src="{{asset('asset/images/thumbnails/img-01.jpg')}}" alt="image description">
                                                                    </a>
                                                                </figure>
                                                                <div class="tg-product-detail">
                                                                    <h3>
                                                                        <a href="#">Smooth 3-Stripes Scarf</a>
                                                                    </h3>
                                                                    <span class="tg-price">Price: $23</span>
                                                                    <a class="tg-delete" href="#"></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <figure>
                                                                    <a href="#">
                                                                        <img src="{{asset('asset/images/thumbnails/img-02.jpg')}}" alt="image description">
                                                                    </a>
                                                                </figure>
                                                                <div class="tg-product-detail">
                                                                    <h3>
                                                                        <a href="#">Smooth 3-Stripes Scarf</a>
                                                                    </h3>
                                                                    <span class="tg-price">Price: $23</span>
                                                                    <a class="tg-delete" href="#"></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <figure>
                                                                    <a href="#">
                                                                        <img src="{{asset('asset/images/thumbnails/img-03.jpg')}}" alt="image description">
                                                                    </a>
                                                                </figure>
                                                                <div class="tg-product-detail">
                                                                    <h3>
                                                                        <a href="#">Smooth 3-Stripes Scarf</a>
                                                                    </h3>
                                                                    <span class="tg-price">Price: $23</span>
                                                                    <a class="tg-delete" href="#"></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="tg-btnbox">
                                                                    <strong class="tg-carttotal">Total: $134</strong>
                                                                    <a class="tg-btn" href="#">
                                                                        <span>checkout</span>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a id="tg-btn-search" href="javascript:void(0)">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="tg-colhalf">
                                    <ul class="tg-socialicons">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <nav id="tg-nav" class="tg-nav brand-center">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                                <i class="fa fa-bars"></i>
                            </button>
                            <strong class="tg-logo">
                                <a href="index.html.twig"><img src="{{asset('asset/images/sportifyLogo.png')}}" alt="SportifyLogo"></a>
                            </strong>
                        </div>
                        <div id="tg-navigation" class="tg-navigation">
                            <div class="tg-colhalf">
                                <ul>
                                    <li class="active">
                                        <a href="#">Home</a>

                                    </li>

                                    <li>
                                        <a href="buyticket.html">EVENTS</a>
                                    </li>
                                    <li>
                                        <a href="#">Match </a>
                                        <ul class="tg-dropdown-menu">

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tg-colhalf">
                                <ul>
                                    <li>
                                        <a href="#">shop</a>

                                    </li>

                                    <li>
                                        <a href="#contact">Contact</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--************************************
            Header End
    *************************************-->
    <!--************************************
            Banner Start
    *************************************-->
    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="asset/images/bg-pattran.png" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>Profile</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Banner End
    *************************************-->
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-paddingbottom-zero tg-haslayout">
        <section class="tg-main-section tg-paddingbottom-zero tg-haslayout">
            <div class="container">
                <div class="tg-section-name">
                    <h2>Profile</h2>
                </div>

            </div>

        </section>
    </main>
    <!--************************************
            Main End
    Profil             ***************************-->



    <!-- About Us -->
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style ="{
                         position: relative;
                         display: flex;
                         flex-direction: column;
                         min-width: 0;
                         word-wrap: break-word;
                         background-color: #fff;
                         background-clip: border-box;
                         border: 0 solid transparent;
                         border-radius: .25rem;
                         margin-bottom: 1.5rem;
                         box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
                    }">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                <div class="mt-3" style="{
                                     margin-right: .5rem!important;
                                     }" >
                                    <h4>Sayed Ben Slimene</h4>
                                    <p class="text-muted font-size-sm">Nabeul,Grombalia,Belli Village</p>
                                    <button class="tg-btn" type="submit">Update Photo</button>
                                </div>
                            </div>
                            <div class="tg-footercol">
                                <div class="tg-posttitle">
                                    <h3>signup newsletter</h3>
                                </div>
                                <div class="tg-description">
                                    <p>Adipisicing elit, sed do eiusmod tempor incidunta utiai labore et dolore magna si aliqua quis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mot de passe</h6>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button class="tg-btn" type="submit">Enregistrer</button>
                                </div>
                            </div>

                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- contact area END -->

    <!--************************************
            Footer Start
    *************************************-->
    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <div class="tg-haslayout tg-footerinfobox">
            <div class="tg-bgboxone"></div>
            <div class="tg-bgboxtwo"></div>
            <div class="tg-footerinfo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div class="tg-haslayout">
                                    <strong class="tg-logo">
                                        <a href="{{ path('homepage') }}">
                                            <img src="{{asset('asset/images/sportifyLogo.png')}}" alt="image description">
                                        </a>
                                    </strong>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sedtado eiusmod dunt ut labore et dolore magna aliqua enim minim veniami quis nostrud.</p>
                                </div>
                                <ul class="tg-contactinfo">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <address>123 Eccles Old Road, New Salford Road London, Uk, M6 7AF</address>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="info%40domain.html">info@domain.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>+44 123 456 788 - 9</span>
                                    </li>
                                </ul>
                                <div class="tg-haslayout">
                                    <a class="tg-btn" href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-footerbar">
            <div class="container">
                <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
                <nav class="tg-footernav">
                    <ul>
                        <li><a href="#">Main</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Buy Tickets</a></li>
                        <li><a href="#">Match Results</a></li>
                        <li><a href="#">Upcoming Matches</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->
<!--************************************
        Search Start
*************************************-->
<div class="tg-searchbox">
    <a id="tg-close-search" class="tg-close-search" href="javascript:void(0)">
        <span class="fa fa-close"></span></a>
    <div class="tg-searcharea">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="tg-form-search">
                        <fieldset>
                            <input type="search" class="form-control" placeholder="keyword">
                            <i class="icon-icon_search2"></i>
                        </fieldset>
                    </form>
                    <p>Start typing and press Enter to search</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Search End
*************************************-->
<!--************************************
    LightBoxes Start
*************************************-->
<div class="tg-modalbox modal fade" id="tg-login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="tg-modal-content">
            <div class="tg-formarea">
                <div class="tg-border-heading">
                    <h3>Login</h3>
                </div>
                <form class="tg-loginform" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="userName/email" class="form-control" placeholder="username/email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" value="rememberme" class="checkbox">
                                <em>Remember Me</em>
                            </label>
                            <a href="#">
                                <em>Forgot Password</em>
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-group">
                            <button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
                        </div>
                        <div class="tg-description">
                            <p>Don't have an account? <a href="#">Signup</a></p>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tg-logintype">
                <div class="tg-border-heading">
                    <h3>Login with</h3>
                </div>
                <ul>
                    <li class="tg-facebook"><a href="#">facebook</a></li>
                    <li class="tg-twitter"><a href="#">twitter</a></li>
                    <li class="tg-googleplus"><a href="#">google+</a></li>
                    <li class="tg-linkedin"><a href="#">linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tg-modalbox modal fade" id="tg-register" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="tg-modal-content">
            <div class="tg-formarea">
                <div class="tg-border-heading">
                    <h3>Signup</h3>
                </div>
                <form class="tg-loginform" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="userName" class="form-control" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="email">
                        </div>
                        <div class="form-group">
                            <div class="tg-note">
                                <i class="fa fa-exclamation-circle"></i>
                                <span>We will email you your password.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
                        </div>
                        <div class="tg-description">
                            <p>Already have an account? <a href="#">Login</a></p>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tg-logintype">
                <div class="tg-border-heading">
                    <h3>Signup with</h3>
                </div>
                <ul>
                    <li class="tg-facebook"><a href="#">facebook</a></li>
                    <li class="tg-twitter"><a href="#">twitter</a></li>
                    <li class="tg-googleplus"><a href="#">google+</a></li>
                    <li class="tg-linkedin"><a href="#">linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--************************************
    LightBoxes End
*************************************-->
<script src="asset/js/vendor/jquery-library.js"></script>
<script src="asset/js/vendor/bootstrap.min.js"></script>
<script src="asset/js/customScrollbar.min.js"></script>
<script src="asset/js/owl.carousel.js"></script>
<script src="asset/js/isotope.pkgd.js"></script>
<script src="asset/js/prettyPhoto.js"></script>
<script src="asset/js/swiper.min.js"></script>
<script src="asset/js/jquery-ui.js"></script>
<script src="asset/js/countTo.js"></script>
<script src="asset/js/appear.js"></script>
<script src="asset/js/main.js"></script>
</body>

{% endblock %}