{% extends 'base.html.twig' %}

{% block title %}PANIER
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>votre panier</h1>
	</div>

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produits</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{item.produit.title}}</td>
						<td>{{item.produit.prix}}TND</td>
						<td>
							<span class="tg-productquentity">
								<a href="{{path('dec_panier',{id:item.produit.id})}}" class="minus">-</a>
								<input type="text" class="result" value="{{item.quantite}}" id="quantity1" name="quantity">
								<a href="{{path('add_panier',{id:item.produit.id})}}" class="plus">+</a>
							</span>
						</td>


						<td>{{item.produit.prix * item.quantite}}</td>
						<td>
							<a href="{{path('remove_panier',{id:item.produit.id})}}" class=" a.btn.btn-danger.btn-sm">
								<i class="fas fa-trash"></i>
							</a>

						</td>

					</tr>
				{% endfor %}

			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">
						Total :
					</td>
					<td>{{total }}</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		

	{% else %}
		<p>SURPRISE;C'EST VIDE
		{% endif %}

		<a class="tg-btn tg-btnaddtocart" href=" {{path('add_commande' )}}">valider</a>


	{% endblock %}
