<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}Sprotify
			{% endblock %}
		</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block css %}
			<link rel="apple-touch-icon" href="{{asset('asset/apple-touch-icon.png')}}">
			<link rel="stylesheet" href="{{asset('asset/css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/normalize.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/transitions.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/prettyPhoto.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/swiper.min.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/jquery-ui.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/animate.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/owl.theme.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/owl.carousel.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/customScrollbar.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/icomoon.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/main.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/color.css')}}">
			<link rel="stylesheet" href="{{asset('asset/css/responsive.css')}}">
		{% endblock %}
	</head>
	<body>
		<!--[if lt IE 8]> <p class="browserupgrade"> are using an <strong>>
																																																														    browser. Please
																																																														    <a href="http://browsehappy.com/">upgrade your browser</a>
																																																														    to improve your experience.</p>
																																																														<![endif]-->
		<!--************************************
																																																																									Wrapper Start
																																																																							*************************************-->
			<div
			id="tg-wrapper" class="tg-wrapper tg-haslayout"> <!--************************************
																																																																																																																												                                                                                        Mobile Menu Start
																																																																																																																												                                                                                *************************************-->
			<div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
				<span id="tg-close" class="tg-close fa fa-close"></span>
				<div class="tg-colhalf">
					<ul>
						<li class="active menu-item-has-children">
							<a href="#">home</a>

						</li>

						<li>
							<a href="buyticket.html">EVENTS
							</a>
						</li>

					</ul>
				</div>
				<div class="tg-colhalf">
					<ul>
						<li class="menu-item-has-children">
							<a href="#">Match</a>

						</li>

						<li>
							<a href="#contact">Contact</a>
						</li>
						<li>
							<a href="contactus.html">shop</a>
						</li>

					</ul>
				</div>
			</div>
			<!--************************************
																																																																																													                                                                        Mobile Menu End
																																																																																													                                                                *************************************-->
			<!--************************************
																																																																																													                                                                        Header Start
																																																																																													                                                                *************************************-->
			<header id="tg-header" class="tg-header tg-haslayout">
				<div class="container">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="row">
							<div class="tg-topbar tg-haslayout">
								<nav id="tg-topaddnav" class="tg-topaddnav">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
											<i class="fa fa-arrow-right"></i>
										</button>
									</div>
									<div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
										<div class="tg-colhalf pull-right">
											<nav class="tg-addnav">
												<ul>
													<li>
														<a href="javascript().html" data-toggle="modal" data-target="#tg-login">login</a>
													</li>
													<li>
														<a href="javascript().html" data-toggle="modal" data-target="#tg-register">Register</a>
													</li>
													<li>
														<div class="tg-cart">
															<a href="javascript:void(0)" class="dropdown-toggle" id="tg-cartdropdown" data-toggle="dropdown">
																<i class="fa fa-shopping-cart"></i>
															</a>
															<div class="tg-cartcontent dropdown-menu" aria-labelledby="tg-cartdropdown">
																<ul>
																	<li>
																		<figure>
																			<a href="#">
																				<img src="{{asset('asset/images/thumbnails/img-01.jpg')}}" alt="image description">
																			</a>
																		</figure>
																		<div class="tg-product-detail">
																			<h3>
																				<a href="#">Smooth 3-Stripes Scarf</a>
																			</h3>
																			<span class="tg-price">Price: $23</span>
																			<a class="tg-delete" href="#"></a>
																		</div>
																	</li>
																	<li>
																		<figure>
																			<a href="#">
																				<img src="{{asset('asset/images/thumbnails/img-02.jpg')}}" alt="image description">
																			</a>
																		</figure>
																		<div class="tg-product-detail">
																			<h3>
																				<a href="#">Smooth 3-Stripes Scarf</a>
																			</h3>
																			<span class="tg-price">Price: $23</span>
																			<a class="tg-delete" href="#"></a>
																		</div>
																	</li>
																	<li>
																		<figure>
																			<a href="#">
																				<img src="{{asset('asset/images/thumbnails/img-03.jpg')}}" alt="image description">
																			</a>
																		</figure>
																		<div class="tg-product-detail">
																			<h3>
																				<a href="#">Smooth 3-Stripes Scarf</a>
																			</h3>
																			<span class="tg-price">Price: $23</span>
																			<a class="tg-delete" href="#"></a>
																		</div>
																	</li>
																	<li>
																		<div class="tg-btnbox">
																			<strong class="tg-carttotal">Total: $134</strong>
																			<a class="tg-btn" href="#">
																				<span>checkout</span>
																			</a>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</li>
													<li>
														<a id="tg-btn-search" href="javascript:void(0)">
															<i class="fa fa-search"></i>
														</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="tg-colhalf">
											<ul class="tg-socialicons">
												<li>
													<a href="#">
														<i class="fa fa-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-linkedin"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-google-plus"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-dribbble"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</nav>
							</div>
							<nav id="tg-nav" class="tg-nav brand-center">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
										<i class="fa fa-bars"></i>
									</button>
									<strong class="tg-logo">
										<a href="index-2.html"><img src="{{asset('asset/images/logo.png')}}" alt="image description"></a>
									</strong>
								</div>
								<div id="tg-navigation" class="tg-navigation">
									<div class="tg-colhalf">
										<ul>
											<li class="active">
												<a href="#">Home</a>

											</li>

											<li>
												<a href="buyticket.html">EVENTS</a>
											</li>
											<li>
												<a href="#">Match
												</a>
												<ul class="tg-dropdown-menu"></ul>
											</li>
										</ul>
									</div>
									<div class="tg-colhalf">
										<ul>
											<li><a href="#">shop</a></li>

											<li><a href="#contact">Contact</a></li>

										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!--************************************
																																																																																													                                                                        Header End
																																																																																													                                                                *************************************-->
			<!--************************************
																																																																																													                                                                        Home Slider Start
																																																																																													                                                                *************************************-->
			<div class="tg-sliderbox">
				<div class="tg-imglayer">
					<img src="{{asset('asset/images/bg-pattran.png')}}" alt="image desctription">
				</div>
				<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="container">
								<figure class="floating">
									<img src="{{asset('asset/images/slider/img-01.png')}}" alt="image description">
								</figure>
								<div class="tg-slider-content">
									<h1>alive and
										<span>kickin</span>
									</h1>

								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="container">
								<figure class="floating">
									<img src="{{asset('asset/images/slider/img-01.png')}}" alt="image description">
								</figure>

							</div>
						</div>
						<div class="swiper-slide">
							<div class="container">
								<figure class="floating">
									<img src="{{asset('asset/images/slider/img-01.png')}}" alt="image description">
								</figure>
								<div class="tg-slider-content">
									<h1>alive and
										<span>kickin</span>
									</h1>
									<div class="tg-btnbox">
										<h2>from june 27</h2>
										<a class="tg-btn" href="#">
											<span>read more</span>
										</a>
										<a class="tg-btn" href="#">
											<span>book my ticket</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tg-btn-next">
						<span>next</span>
						<span class="fa fa-angle-down"></span>
					</div>
					<div class="tg-btn-prev">
						<span>prev</span>
						<span class="fa fa-angle-down"></span>
					</div>
				</div>
			</div>
			<!--************************************
																																																																																													                                                                        Home Slider End
																																																																																													                                                                *************************************-->
			<!--************************************
																																																																																													                                                                        Main Start
																																																																																													                                                                *************************************-->
			<main id="tg-main" class="tg-main tg-haslayout">
				<div class="tg-main-section tg-haslayout">
					<div class="container">
						<div class="row">
							<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
								<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
									<div class="tg-resultdetail">
										<div class="tg-matchresult">
											<div class="tg-box">
												<div class="tg-score">
													<h3>4 - 3</h3>
												</div>
												<div class="tg-teamscore">
													<strong class="tg-team-logo">
														<a href="#">
															<img src="{{asset('asset/images/team-logo/logo-01.png')}}" alt="image description">
														</a>
													</strong>
													<div class="tg-team-nameplusstatus">
														<h4>
															<a href="#">Gladiators ( Win )</a>
														</h4>
													</div>
													<ul class="tg-playernameplusgoadtime">
														<li>Roman Fenley (15)</li>
														<li>Miguel Beckel (19)</li>
														<li>Jonah Jolicoeur (39)</li>
														<li>Connie Harland (48)</li>
													</ul>
												</div>
												<div class="tg-teamscore">
													<strong class="tg-team-logo">
														<a href="#">
															<img src="{{asset('asset/images/team-logo/logo-02.png')}}" alt="image description">
														</a>
													</strong>
													<div class="tg-team-nameplusstatus">
														<h4>
															<a href="#">horned grogs ( lose )</a>
														</h4>
													</div>
													<ul class="tg-playernameplusgoadtime">
														<li>Ethan Ryberg (22)</li>
														<li>Wilbert Delbosquel (27)</li>
														<li>Maynard Brabant (42)</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="tg-mathtextbox">
											<div class="tg-section-heading">
												<h2>dipisicing elit sed do eiusmod tempor indunt</h2>
											</div>
											<div id="tg-matchdetailslider" class="tg-matchdetailslider">
												<div class="swiper-wrapper">
													<div class="swiper-slide">
														<figure><img src="{{asset('asset/images/match-detail/img-01.jpg')}}" alt="image description"></figure>
													</div>
													<div class="swiper-slide">
														<figure><img src="{{asset('asset/images/match-detail/img-01.jpg')}}" alt="image description"></figure>
													</div>
													<div class="swiper-slide">
														<figure><img src="{{asset('asset/images/match-detail/img-01.jpg')}}" alt="image description"></figure>
													</div>
												</div>
												<div class="tg-themebtnprev">
													<span class="fa fa-angle-right"></span>
												</div>
												<div class="tg-themebtnnext">
													<span class="fa fa-angle-left"></span>
												</div>
											</div>
											<blockquote>
												<q>“ la victoire aujourd'hui pour le terrain à domicile ”</q>
											</blockquote>


										</div>
										<div id="tg-playerslider" class="tg-playerslider tg-haslayout">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="tg-videobox">
														<figure>
															<img src="{{asset('asset/images/player-detail/img-02.jpg')}}" alt="image description">
															<figcaption>
																<a class="tg-playbtn" href="https://youtu.be/a0ksVaLlaIw?iframe=true" data-rel="prettyPhoto[iframe]"></a>
																<h2>accusantium doloremque lauda totam rem aperiam ipsa</h2>
															</figcaption>
														</figure>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="tg-videobox">
														<figure>
															<img src="{{asset('asset/images/player-detail/img-02.jpg')}}" alt="image description">
															<figcaption>
																<a class="tg-playbtn" href="https://youtu.be/a0ksVaLlaIw?iframe=true" data-rel="prettyPhoto[iframe]"></a>
																<h2>accusantium doloremque lauda totam rem aperiam ipsa</h2>
															</figcaption>
														</figure>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="tg-videobox">
														<figure>
															<img src="{{asset('asset/images/player-detail/img-02.jpg')}}" alt="image description">
															<figcaption>
																<a class="tg-playbtn" href="https://youtu.be/a0ksVaLlaIw?iframe=true" data-rel="prettyPhoto[iframe]"></a>
																<h2>accusantium doloremque lauda totam rem aperiam ipsa</h2>
															</figcaption>
														</figure>
													</div>
												</div>
											</div>
											<div class="tg-themebtnprev">
												<span class="fa fa-angle-left"></span>
											</div>
											<div class="tg-themebtnnext">
												<span class="fa fa-angle-right"></span>
											</div>
										</div>

										<div class="tg-tags-social tg-haslayout">
											<div class="tg-tags pull-left">
												<i class="fa fa-tags"></i>
												<span>tags:
												</span>
												<a href="#" class="tg-btn">win</a>
												<a href="#" class="tg-btn">champions league</a>
												<a href="#" class="tg-btn">sports</a>
											</div>
											<div class="tg-social-share pull-right">
												<i class="fa fa-share-square-o"></i>
												<span>share:
												</span>
												<ul>
													<li><a href="#"><i data-iconname="on facebook" class="fa fa-facebook-f"></i></a></li>
													<li><a href="#"><i data-iconname="on twitter" class="fa fa-twitter "></i></a></li>
													<li><a href="#"><i data-iconname="on pinterest" class="fa fa-pinterest-p"></i></a></li>
													<li><a href="#"><i data-iconname="on linkedin" class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<div id="tg-comments" class="tg-comments">
											<div class="tg-section-heading">
												<h2>Latest Comments</h2>
											</div>
											<ul>
												<li>
													<div class="tg-comment">
														<figure>
															<a href="#">
																<img src="{{asset('asset/images/thumbnails/img-08.jpg')}}" alt="image description">
															</a>
														</figure>
														<div class="tg-commentdata">
															<span class="tg-theme-tag">
																<time datetime="2022-05-03">May 3, 2022</time>
															</span>
															<a class="tg-btnreply" href="#">reply</a>
															<div class="tg-section-heading">
																<h3>Will Mccaulley</h3>
															</div>
															<div class="tg-description">
																<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etire magna aliqua. Ut enim ad minim veniam.</p>
															</div>
														</div>
													</div>
												</li>
												<li>
													<div class="tg-comment">
														<figure>
															<a href="#">
																<img src="{{asset('asset/images/thumbnails/img-09.jpg')}}" alt="image description">
															</a>
														</figure>
														<div class="tg-commentdata">
															<span class="tg-theme-tag">
																<time datetime="2016-05-03">May 3, 2022</time>
															</span>
															<a class="tg-btnreply" href="#">reply</a>
															<div class="tg-section-heading">
																<h3>Will Mccaulley</h3>
															</div>
														</div>
													</div>
												</li>
												<li>
													<div class="tg-comment">
														<figure>
															<a href="#">
																<img src="{{asset('asset/images/thumbnails/img-10.jpg')}}" alt="image description">
															</a>
														</figure>
														<div class="tg-commentdata">
															<span class="tg-theme-tag">
																<time datetime="2016-05-03">May 3, 2016</time>
															</span>
															<a class="tg-btnreply" href="#">reply</a>
															<div class="tg-section-heading">
																<h3>Will Mccaulley</h3>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div id="tg-leavecomment" class="tg-leavecomment">
											<div class="tg-section-heading">
												<h2>Leave Your Comment</h2>
											</div>
											<form id="tg-commentform" class="tg-commentform" method="post" action="ajout.php" enctype="text/plain">
												<fieldset>
													<div class="form-group">
														<input type="text" name="name" class="form-control" placeholder="Name*">
													</div>
													<div class="form-group">
														<input type="email" name="email" class="form-control" placeholder="Email*">
													</div>
													<div class="form-group">
														<textarea name="commentaire" placeholder="Message*"></textarea>
													</div>
													<div class="form-group">
														<button class="tg-btn" action="ajout.php" type="submit">send</button>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<aside id="tg-sidebar" class="tg-sidebar">
										<div class="tg-widget tg-search">
											<form class="form-search">
												<fieldset>
													<input type="search" placeholder="Search Here" class="form-control">
													<button type="submit">
														<i class="fa fa-search"></i>
													</button>
												</fieldset>
											</form>
										</div>
										<div class="tg-widget">
											<h3>STADE</h3>
											<div class="tg-slideshow-widget tg-haslayout">
												<div id="tg-slideshow-slider" class="tg-slideshow-slider tg-haslayout">
													<div class="swiper-wrapper">
														<div class="swiper-slide">
															<figure class="tg-postimg">
																<img src="{{asset('asset/images/sidebar/img-01.jpg')}}" alt="image description">
															</figure>
														</div>
														<div class="swiper-slide">
															<figure class="tg-postimg">
																<img src="{{asset('asset/images/sidebar/img-01.jpg')}}" alt="image description">
															</figure>
														</div>
														<div class="swiper-slide">
															<figure class="tg-postimg">
																<img src="{{asset('asset/images/sidebar/img-01.jpg')}}" alt="image description">
															</figure>
														</div>
													</div>
													<div class="swiper-pagination tg-pagination-slider"></div>
													<div class="tg-themebtnnext">
														<span class="fa fa-angle-down"></span>
													</div>
													<div class="tg-themebtnprev">
														<span class="fa fa-angle-up"></span>
													</div>
												</div>
											</div>
										</div>
									</aside>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
																																																																																													                                                                        Main End
																																																																																													                                                                *************************************-->
			<!--************************************
																																																																																																															Footer Start
																																																																																													
																																																																																															        {% block body %}
																																																																																													
																																																																																													
																																																																																															        {% endblock %}											*************************************-->
			<footer id="tg-footer" class="tg-footer tg-haslayout">
				<div class="tg-haslayout tg-footerinfobox">
					<div class="tg-bgboxone"></div>
					<div class="tg-bgboxtwo"></div>
					<div class="tg-footerinfo">
						<div class="container">
							<div class="row">

								<div class="col-sm-4"></div>
								<div class="col-sm-4" id="contact">
									<div class="tg-footercol">
										<div class="tg-haslayout">
											<strong class="tg-logo">
												<a href="#">
													<img src="{{asset('asset/images/logo2.png')}}" alt="image description">
												</a>
											</strong>
										</div>
										<div class="tg-description">
											<p>Consectetur adipisicing elit sedtado eiusmod dunt ut labore et dolore magna aliqua enim minim veniami quis nostrud.</p>
										</div>
										<ul class="tg-contactinfo">
											<li>
												<i class="fa fa-home"></i>
												<address>123 Eccles Old Road, New Salford Road London, Uk, M6 7AF</address>
											</li>
											<li>
												<i class="fa fa-envelope-o"></i>
												<a href="info%40domain.html">alifekih@esprit.com</a>
											</li>
											<li>
												<i class="fa fa-phone"></i>
												<span>+216 29416602</span>
											</li>
										</ul>
										<div class="tg-haslayout">
											<a class="tg-btn" href="#">read more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</footer>
			<!--************************************
																																																																																													                                                                        Footer End
																																																																																													                                                                *************************************-->
		</div>
		<!--************************************
																																																																									Wrapper End
																																																																							*************************************-->
		<!--************************************
																																																																									Search Start
																																																																							*************************************-->
		<div class="tg-searchbox">
			<a id="tg-close-search" class="tg-close-search" href="javascript:void(0)">
				<span class="fa fa-close"></span>
			</a>
			<div class="tg-searcharea">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<form class="tg-form-search">
								<fieldset>
									<input type="search" class="form-control" placeholder="keyword">
									<i class="icon-icon_search2"></i>
								</fieldset>
							</form>
							<p>Start typing and press Enter to search</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
																																																																									Search End
																																																																							*************************************-->
		<!--************************************
																																																																								LightBoxes Start
																																																																							*************************************-->
		<div class="tg-modalbox modal fade" id="tg-login" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="tg-modal-content">
					<div class="tg-formarea">
						<div class="tg-border-heading">
							<h3>Login</h3>
						</div>
						<form class="tg-loginform" method="post">
							<fieldset>
								<div class="form-group">
									<input type="text" name="userName/email" class="form-control" placeholder="username/email">
								</div>
								<div class="form-group">
									<input type="password" name="password" class="form-control" placeholder="password">
								</div>
								<div class="form-group">
									<label>
										<input type="checkbox" value="rememberme" class="checkbox">
										<em>Remember Me</em>
									</label>
									<a href="#">
										<em>Forgot Password</em>
										<i class="fa fa-question-circle"></i>
									</a>
								</div>
								<div class="form-group">
									<button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
								</div>
								<div class="tg-description">
									<p>Don't have an account?
										<a href="#">Signup</a>
									</p>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="tg-logintype">
						<div class="tg-border-heading">
							<h3>Login with</h3>
						</div>
						<ul>
							<li class="tg-facebook">
								<a href="#">facebook</a>
							</li>
							<li class="tg-twitter">
								<a href="#">twitter</a>
							</li>
							<li class="tg-googleplus">
								<a href="#">google+</a>
							</li>
							<li class="tg-linkedin">
								<a href="#">linkedin</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-modalbox modal fade" id="tg-register" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="tg-modal-content">
					<div class="tg-formarea">
						<div class="tg-border-heading">
							<h3>Signup</h3>
						</div>
						<form class="tg-loginform" method="post">
							<fieldset>
								<div class="form-group">
									<input type="text" name="userName" class="form-control" placeholder="username">
								</div>
								<div class="form-group">
									<input type="email" name="email" class="form-control" placeholder="email">
								</div>
								<div class="form-group">
									<div class="tg-note">
										<i class="fa fa-exclamation-circle"></i>
										<span>We will email you your password.</span>
									</div>
								</div>
								<div class="form-group">
									<button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
								</div>
								<div class="tg-description">
									<p>Already have an account?
										<a href="#">Login</a>
									</p>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="tg-logintype">
						<div class="tg-border-heading">
							<h3>Signup with</h3>
						</div>
						<ul>
							<li class="tg-facebook">
								<a href="#">facebook</a>
							</li>
							<li class="tg-twitter">
								<a href="#">twitter</a>
							</li>
							<li class="tg-googleplus">
								<a href="#">google+</a>
							</li>
							<li class="tg-linkedin">
								<a href="#">linkedin</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% block js %}
			<script src="{{asset('js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>

			<script src="{{asset('asset/js/vendor/jquery-library.js')}}"></script>
			<script src="{{asset('asset/js/vendor/bootstrap.min.js')}}"></script>
			<script src="{{asset('asset/js/customScrollbar.min.js')}}"></script>
			<script src="{{asset('asset/js/owl.carousel.js')}}"></script>
			<script src="{{asset('asset/js/isotope.pkgd.js')}}"></script>
			<script src="{{asset('asset/js/prettyPhoto.js')}}"></script>
			<script src="{{asset('asset/js/swiper.min.js')}}"></script>
			<script src="{{asset('asset/js/jquery-ui.js')}}"></script>
			<script src="{{asset('asset/js/countTo.js')}}"></script>
			<script src="{{asset('asset/js/appear.js')}}"></script>
			<script src="{{asset('js/main.js')}}"></script>
		{% endblock %}
	</body>
</html>
