{% extends 'admin_panel/index.html.twig' %}

{% block title %}liste des produits
{% endblock %}


{% block body %}
	<div class="bg-light p-3">
		<h1>liste des produits</h1>
		<a type="button" class="btn btn-warning" href="{{ path('add_produits')}}">Ajouter</a>

	</div>
	<div class="row">
		{% for p in produits %}
			<div class="col-4 mt-4">


				<div class="border border-dark rounded p-2 clearfix">
					<img class="img-fluid rounded" src={{p.image}} alt="image description">
					<hr>
					<h1>


						{{ p.title }}
					</h1>

					{{ p.category.label }}

					-
					{{ p.prix }}

					<h4>
						{{p.description }}
					</h4>


				</div>
				<a class="tg-btn tg-btnaddtocart" href="{{ path('update_produit',{id: p.id})}}">modifier</a>
				<a class="tg-btn tg-btnaddtocart" href="{{ path('remove_produit',{id: p.id})}}">supprimer</a>

			</div>


		{% endfor %}
	</div>

{% endblock %}
