{% extends 'admin_panel/index.html.twig' %}

{% block title %}liste des produits
{% endblock %}


{% block body %}
	<div class="bg-light p-3">
		<h1>LISTE DES PRODUITS</h1>
		<a type="button" class="btn btn-warning" href="{{ path('add_produits')}}">Ajouter</a>

	</div>
	<div class="container">
		{% for p in produits %}


			<div class="col-4 mt-4">


				<div class="border border-dark rounded p-2 clearfix">
					<figure>
						<img class="card-img-top embed-responsive-item" src="{{asset('uploads/asset/produits/miniature/'~p.photo )}}"/>
					</figure>


					<hr>


					<h1>


						{{ p.title }}
					</h1>
					<h4>

						{{ p.category.label }}

						-
					</h4>
					<h4>

						{{ p.prix }}
						

					</h4>


					{{p.description }}


				</div>
				<br>
				<a type="button" class="btn btn-warning" href="{{ path('update_produit',{id: p.id})}}">modifier</a>
				<a type="button" class="btn btn-warning" href="{{ path('remove_produit',{id: p.id})}}">supprimer</a>

			</div>


		{% endfor %}
	</div>

{% endblock %}
