{% extends 'admin_panel/index.html.twig' %}
{% block title %}Ajouter categorie
{% endblock %}
{% block body %}
	<div class="bg-light p-3">
		<h1>Ajouter categorie</h1>

	</div>


	<div class="container">
		{{form_start (form1 ,{'attr':{'novalidate':'novalidate'}})}}

		<div class="form-group">
			{{ form_label(form1.label,"label") }}
			{{ form_widget(form1.label,{ 'attr': {'class': 'form-control'} }) }}
			{% if form_errors(form1.label) is not empty %}
				<div class="alert alert-danger">
					{{ form_errors(form1.label) }}
				</div>
			{% endif %}
		</div>
		
		<div class="col-sm-12 text-right m-t-20">

			<input type="submit" class="btn btn-warning " value=" ajouter">
		</div>

		{{form_end (form1)}}
	</div>
{% endblock %}
