{% extends 'Admin.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>NomEvenement</th>
            <th>DateEvenement</th>
            <th>LieuEvenement</th>
            <th>Capacite</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.nomEvenement }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d H:i:s') }}</td>
                <td>{{ evenement.lieuEvenement }}</td>
                <td>{{ evenement.capacite }}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Example Pagination ">
        <ul class="pagination pg-blue">
            <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a href="/evenement?page=1" class="page-link active-pagination1">1</a>
            </li>
            <li class="page-item">
                <a href="/evenement?page=2" class="page-link">2</a>
            </li>
            <li class="page-item">
                <a href="/evenement?page=3" class="page-link">3</a>
            </li>
            <li class="page-item">
                <a href="/evenement?page=4" class="page-link">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
