{% extends 'base.html.twig' %}
{% block title %}commande
{% endblock %}
{% block body %}
	<div class="bg-light p-3">
		<h1>PREMIERE ETAPE</h1>

	</div>
	<div id="main_content">
		<div class="section-body">
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-md-12">
						<div class="tab-content">
							<div class="tab-pane active show" id="Company_Settings">
								<div class="card">
									<div class="card-body">
										{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
										<form>

											<div class="form-group">
												{{ form_label(form.nom,"nom") }}
												{{ form_widget(form.nom,{ 'attr': {'class': 'form-control'} }) }}
												{% if form_errors(form.nom) is not empty %}
													<div class="alert alert-danger">
														{{ form_errors(form.nom) }}
													</div>
												{% endif %}
											</div>
											<div class="form-group">
												{{ form_label(form.prenom,"prénom") }}
												{{ form_widget(form.prenom,{ 'attr': {'class': 'form-control'} }) }}
												{% if form_errors(form.prenom) is not empty %}
													<div class="alert alert-danger">
														{{ form_errors(form.prenom) }}
													</div>
												{% endif %}
											</div>
											<div class="form-group">
												{{ form_label(form.email,"email") }}
												{{ form_widget(form.email,{ 'attr': {'class': 'form-control'} }) }}
												{% if form_errors(form.email) is not empty %}
													<div class="alert alert-danger">
														{{ form_errors(form.email) }}
													</div>
												{% endif %}
											</div>


											<div class="form-group">
												{{ form_label(form.num_tel,"numéro de téléphone") }}
												{{ form_widget(form.num_tel,{ 'attr': {'class': 'form-control'} }) }}
												{% if form_errors(form.num_tel) is not empty %}
													<div class="alert alert-danger">
														{{ form_errors(form.num_tel) }}
													</div>
												{% endif %}
											</div>

											<div class="form-group">
												{{ form_label(form.adresse,"adresse") }}
												{{ form_widget(form.adresse,{ 'attr': {'class': 'form-control'} }) }}
												{% if form_errors(form.adresse) is not empty %}
													<div class="alert alert-danger">
														{{ form_errors(form.adresse) }}
													</div>
												{% endif %}
											</div>


											<div class="form-group">
												{{ form_label(form.mode_paiement,"mode de paiement") }}
												{{ form_widget(form.mode_paiement,{ 'attr': {'class': 'form-control'} }) }}
												{% if form_errors(form.mode_paiement) is not empty %}
													<div class="alert alert-danger">
														{{ form_errors(form.mode_paiement) }}
													</div>
												{% endif %}
												<p>Total : {{ total }} TND</p>
											</div>
											
												<input type="submit"  class="tg-btn tg-btnaddtocart" value="suivant">
											

											<a class="tg-btn tg-btnaddtocart" href=" {{path('panier_index' )}}">retour</a>


											{{ form_end(form) }}
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
