{% extends 'base.html.twig' %}
{% block title %}shop
{% endblock %}
{% block body %}
	<main id="tg-main" class="tg-main tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
					<div class="col-md-9 col-sm-8 col-xs-12 pull-right">
						<div class="tg-shopbanner">
							<div class="tg-bgpattran">
								<div id="tg-shopslider" class="tg-shopslider">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="row">
												<div class="col-md-7 col-sm-12 col-xs-12">
													<div class="tg-shopcontent">
														<span class="tg-limitedoffer">limited offer</span>
														<div class="tg-contentbox">
															
															<h2>ACHETER SUR SPORTIFY.TN</h2>
															<span class="tg-price">
																<del>$ 256</del>
																/ $200</span>
															
														</div>
													</div>
												</div>
												
											</div>
										</div>
										<div class="swiper-slide">
											<div class="row">
												<div class="col-md-7 col-sm-12 col-xs-12">
													<div class="tg-shopcontent">
														<span class="tg-limitedoffer">limited offer</span>
														<div class="tg-contentbox">
															<a class="tg-theme-tag" href="#">mens wear</a>
															<h2>Yellow Sports shoes</h2>
															<span class="tg-price">
																<del>$ 256</del>
																/ $200</span>
															<span class="tg-stars">
																<span></span>
															</span>
														</div>
													</div>
												</div>
												<div class="col-sm-5 hidden-sm hidden-xs">
													<figure><img src="images/shop/img-01.png" alt="image description"></figure>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="row">
												<div class="col-md-7 col-sm-12 col-xs-12">
													<div class="tg-shopcontent">
														<span class="tg-limitedoffer">limited offer</span>
														<div class="tg-contentbox">
															<a class="tg-theme-tag" href="#">mens wear</a>
															<h2>Yellow Sports shoes</h2>
															<span class="tg-price">
																<del>$ 256</del>
																/ $200</span>
															<span class="tg-stars">
																<span></span>
															</span>
														</div>
													</div>
												</div>
												<div class="col-sm-5 hidden-sm hidden-xs">
													<figure><img src="images/shop/img-01.png" alt="image description"></figure>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="row">
												<div class="col-md-7 col-sm-12 col-xs-12">
													<div class="tg-shopcontent">
														<span class="tg-limitedoffer">limited offer</span>
														<div class="tg-contentbox">
															<a class="tg-theme-tag" href="#">mens wear</a>
															<h2>Yellow Sports shoes</h2>
															<span class="tg-price">
																<del>$ 256</del>
																/ $200</span>
															<span class="tg-stars">
																<span></span>
															</span>
														</div>
													</div>
												</div>
												<div class="col-sm-5 hidden-sm hidden-xs">
													<figure><img src="images/shop/img-01.png" alt="image description"></figure>
												</div>
											</div>
										</div>
									</div>
									<div class="tg-sliderpagination swiper-pagination"></div>
								</div>
							</div>
						</div>
						<div class="tg-shophead">
							<ul class="tg-shopviewnav">
								<li>
									<a href="#">
										<i class="fa fa-th"></i>
									</a>
								</li>
								<li class="tg-active">
									<a href="#">
										<i class="fa fa-list"></i>
									</a>
								</li>
							</ul>
							<form class="tg-formfilter">
								<fieldset>
									<div class="tg-select">
										<select>
											<option>sort by: All Category</option>
											<option>All Category</option>
											<option>All Category</option>
										</select>
									</div>
									<div class="tg-select">
										<select>
											<option>Show: 9 Items Per Page</option>
											<option>All Category</option>
											<option>All Category</option>
										</select>
									</div>
								</fieldset>
							</form>
						</div>

						<div class="th-products tg-shoplist">
							{% for p in products %}
								<div class="tg-product">

									<figure class="tg-productimg">
										<img class="card-img-top embed-responsive-item" src="{{asset('uploads/asset/produits/miniature/'~p.photo )}}"/>
									</figure>
									<div class="tg-productinfo">
										<a class="tg-theme-tag" href="#">Mens wear</a>
										<div class="tg-producttitle">
											<h2>
												<a href="#">{{p.title}}</a>
											</h2>
										</div>
										<div class="tg-productprice">
											<h3>{{p.category.label}}</h3>
										</div>
										<div class="tg-productprice">
											<h3>{{p.prix}}</h3>
										</div>


										<div class="tg-description">
											<p>{{p.description}}</p>
										</div>

										

									</div>
									<a class="tg-btn tg-btnaddtocart" href=" {{path('add_panier',{id:p.id} )}}">add to cart</a>
								</div>


							{% endfor %}

						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<aside id="tg-sidebar" class="tg-sidebar"></div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<aside id="tg-sidebar" class="tg-sidebar"></aside>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widget tg-search">
									<form class="form-search">
										<fieldset>
											<input type="search" placeholder="Search Here" class="form-control">
											<button type="submit">
												<i class="fa fa-search"></i>
											</button>
										</fieldset>
									</form>
								</div>
								<div class="tg-widget tg-catagories-widget">
									<h3>catagories</h3>
									<ul>
										<li><a href="#"><em>VETEMENTS</em><i></i></a></li>
										<li><a href="#"><em>ACCESSOIRES</em><i></i></a></li>
										<li><a href="#"><em>CHAUSSURES</em><i></i></a></li>

									</ul>
								</div>
								<div class="tg-widget tg-price-widget">
									<h3>filter by price</h3>
									<div class="tg-price-range">
										<div id="tg-slider-range" class="tg-slider-range"></div>
										<p>
											<label for="amount">Price:</label>
											<input type="text" id="amount" readonly>
										</p>
										<a class="tg-btn" href="#">Filter</a>
									</div>
								</div>

								<div class="tg-widget tg-tags-widget">
									<h3>popular tags</h3>
									<ul>
										<li><a class="tg-btn" href="#">fashion</a></li>
										
										<li><a class="tg-btn" href="#">sports</a></li>
										<li><a class="tg-btn" href="#">blog</a></li>
										<li><a class="tg-btn" href="#">magazine</a></li>
										
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</main>
		{% endblock %}
